# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Operating System Files
.DS_Store
Thumbs.db

# Output files
*.jsonl
*.pdf