# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Operating System Files
.DS_Store
Thumbs.db

# Output files
*.jsonl
*.pdf

# API and encryption keys
.env
.encryption_key

# Other project-specific ignores can be added here
client_secret_997980018332-v1pnpb3gm94i8u4dqm3fg29jfb84dai4.apps.googleusercontent.com
aigent-430602-ba4f3db6c362.json
tests/
access_token.txt
aiocr-gcv-api.json
client_secret_997980018332-v1pnpb3gm94i8u4dqm3fg29jfb84dai4.apps.googleusercontent.com.json
file_converter.log
aigent/DevNotes
setup_credentials.py
updated_generate_oauth_token.py
/home/tjpilant/aiengineers/aigent/config.json
# Exclude DevNotes folder
DevNotes/

# Exclude cmcourse directory
/home/tjpilant/aiengineers/aigent/cmcourse

# Database files
*.db

# Test files and output
aigent/test_document.txt
aigent/test_output/

# Exclude test script (if it's not meant to be in version control)
# aigent/test_aigent_functionality.py

# Ignore all config.json files
config.json
