blis==0.7.7
catalogue==2.0.7
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.3
cryptography==42.0.8
cymem==2.0.6
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl#sha256=84d7d8059bfbf53c09b39139782f76cd6ac7064851e7799dcc685c06ebf5fd4f
gensim==4.2.0
gitdb==4.0.11
GitPython==3.1.27
idna==3.7
Jinja2==3.1.4
langcodes==3.4.0
language_data==1.2.0
marisa-trie==1.2.0
MarkupSafe==2.1.5
marshmallow==3.15.0
murmurhash==1.0.6
numpy==1.24.4
packaging==24.1
pathlib_abc==0.1.1
pathy==0.6.1
pdfminer.six==20220524
pdfplumber==0.7.4
pillow==10.4.0
preshed==3.0.6
pycparser==2.22
pydantic==1.7.4
PyQt5==5.15.6
PyQt5-Qt5==5.15.14
PyQt5_sip==12.15.0
PyYAML==6.0
requests==2.32.3
scipy==1.10.1
smart-open==5.2.1
smmap==5.0.1
spacy==3.3.0
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.3
thinc==8.0.15
tqdm==4.64.0
typer==0.4.1
typing_extensions==4.12.2
urllib3==2.2.2
Wand==0.6.13
wasabi==0.9.1
wrapt==1.16.0
